ETH_RPC_URL=https://eth-mainnet.alchemyapi.io/v2/YOUR_API_KEY
#Public RPCS
#ETH_RPC_URL=https://rpc.ftm.tools
#ETH_RPC_URL=https://api.avax.network/ext/bc/C/rpc

# rpc endpoints for tests
RPC_AVALANCHE=https://api.avax.network/ext/bc/C/rpc