[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/aave-address-book"]
	path = lib/aave-address-book
	url = https://github.com/lib/aave-address-book
	branch = v1.10.0
[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/lib/aave-helpers
	branch = v1.4.0
